/* Main Container */
.philosophie-container {
    background-image: url("/src/assets/home/PrismaGroupe/philosophie.png");
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Text Overlay */
.philosophie-text-overlay {
    margin-top: 100px;
    max-width: 500px;
    padding: 2rem;
    margin-left: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 1px 10px #042f38;
}

.philosophie-heading {
    font-size: 1.8rem;
    font-weight: 800;
    color: #1d4f65;
    margin-bottom: 1.5rem;
}

.philosophie-paragraph {
    color: #222222;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
}

.philosophie-paragraph:last-child {
    margin-bottom: 0;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .philosophie-text-overlay {
        max-width: 90%;
        margin-left: 5%;
        padding: 1.5rem;
    }

    .philosophie-heading {
        font-size: 1.5rem;
    }

    .philosophie-paragraph {
        font-size: 0.9rem;
    }
}