.team-col-l {
    float: left;
    width: 50%;
    background-color: #0c0c0c;
    /* Default color - will need to be adjusted to match your images */
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: relative;
}

.app-container.sidebar-open .team-col-l {
    transform: translateX(190px);
    transition: transform 0.3s ease;
    /* Adjust this value based on your sidebar width minus the initial width */
}
.team-col-l,
.mask {
    transition: transform 0.3s ease;
}

.team-left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 60px;
    box-sizing: border-box;
}

.team-left-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

.team-left-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;
    max-width:80%;
}

.page-top-team-arrow {
  position: relative;
  top: -10px;
  margin: auto;
}

.page-bottom-team-arrow {
  position: relative;
  bottom: 10px;
  margin: auto;

}

  /* Styles spécifiques pour mobile (320px - 768px) */
  @media screen and (max-width: 768px) {
    .team-col-l {
      width: 100% !important;
      float: none !important;
      transform: translateX(0);
      transition: transform 0.3s ease;
    }
    
    .mask, .col-r {
      display: none !important;
    }
    
    .app-container.sidebar-open .team-col-l {
      transform: translateX(190px) !important;
    }
    
    .team-left-content {
      padding: 0 20px !important;
    }
    
    .team-left-content h2 {
      font-size: 2rem !important;
    }
    
    .team-left-content p {
      font-size: 1.2rem !important;
      max-width: 80% !important;
    }
    
    .top-nav-arrow, .bottom-nav-arrow {
      display: none !important;
    }
  }
  
  /* Styles spécifiques pour desktop (769px et plus) */
  @media screen and (min-width: 769px) {
    .team-col-l {
      width: 50% !important;
      float: left !important;
    }
    
    .mask, .col-r {
      display: block !important;
    }
    
    .app-container.sidebar-open .team-col-l {
      transform: translateX(190px) !important;
    }
    
    .top-nav-arrow, .bottom-nav-arrow {
      display: flex !important;
    }
  }